<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Example</title>

    <!-- include libraries(jQuery, bootstrap) -->
    <link
            th:href="@{http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css}"
            th:rel="@{stylesheet}">
    <script
            th:src="@{/js/summernote.important.js}"></script>
    <script
            th:src="@{http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js}"></script>
    <!-- include summernote css/js-->
    <link
            th:href="@{http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css}"
            th:rel="@{stylesheet}">

    <script
            th:src="@{http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js}"></script>

    <link th:rel="@{stylesheet}" th:href="@{/css/half.css}">

</head>

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner"
        th:replace="/common/header.html :: head">
</header>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner"
        th:replace="/common/header.html :: header">
</header>

<div class="site-section section-2" id="classes-section">

    <div class="site-section" id="contact-section">

        <form th:action="@{'/post/edit/' + ${boardDto.id}}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="put"/>
            <input type="hidden" name="id" th:value="${boardDto.id}" />
            <div class="halfmain">

                <div class="halfleft">


                    <div id="map" style="width:100%;height:600px;margin-top:10px;display:none">
                    </div>
                    <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js">
                    </script>
                    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d8bd55823283a83e9dae821410f43579&libraries=services">

                    </script>
                    <script src="/js/test2map.js">
                    </script>


                </div>

                <div class="halfright">


                    <div class="halfleft2">
                        <label class="col-form-label text-center photoupload" style="font-size: 30px;">
                            <div class="text-center">
                                <div class="border-info text-center ">
                                    <input type="file" name="img" class="" value="사진업로드" onchange="setThumbnail(event);"
                                           style='display: none;' >
                                    <input type='text' name='file2' id='file2' style='display: none;' >

                                    <svg width="2em" height="2em" viewBox="0 0 17 16" class="bi bi-image"
                                         fill="currentColor"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M14.002 2h-12a1 1 0 0 0-1 1v9l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15.002 9.5V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                    </svg> <!--버튼 이미지 <!-->
                                </div>
                                <span class="text-center">사진업로드</span>
                            </div>
                        </label>
                    </div>

                    <div class="halfright2">
                        <div id="image_container"></div><!--썸네일 화면 <!-->
                    </div>


                    <div class="clear">
                        <div class="form-group row">
                            <div class="col-md-6 mb-3 mb-lg-0">
                                <input type="text" th:value="${boardDto.title}"
                                       name="title"
                                       class="form-control hh"
                                       placeholder="제목"
                                       autocomplete="off" required/>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="companyphone" th:value="${boardDto.companyphone}"
                                       class="form-control hh"
                                       placeholder="소속 전화번호"
                                       autocomplete="off" required/>
                            </div>

                            <div class="col-md-6">
                                <input type="text" name="companyname" th:value="${boardDto.companyname}"
                                       class="form-control hh"
                                       placeholder="소속 이름"
                                       autocomplete="off" required/>
                            </div>
                            <div class="col-md-6">

                                <div>
                                    <input type="text" class="d-inline-block form-control text-light bg-dark hh"
                                           id="sample5_address" name="address" placeholder="주소재입력"
                                           onclick="sample5_execDaumPostcode()"
                                           required/>
                                    <input type="hidden" class="d-inline-block form-control text-light bg-dark"
                                           id="sample5_x" name="x" placeholder="상세주소 x좌표"
                                           onclick="sample5_execDaumPostcode()"
                                           required/>
                                    <input type="hidden" class="d-inline-block form-control text-light bg-dark"
                                           id="sample5_y" name="y" placeholder="상세주소 y좌표"
                                           onclick="sample5_execDaumPostcode()"
                                           required/>
                                </div>
                            </div>

                        </div>
                        <div class="form-group row">

                        <textarea class="form-control" id="content" name="content" th:value="${boardDto.content}"
                                  placeholder="content" >

                        </textarea>

                        </div>

                        <div class="col-md-6 clear">
                            <button type="submit" class="btn btn-primary py-3 px-5 btn-block mb-5 text-center">
                                수정
                            </button>

                        </div>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#content').summernote({
            width: 800,
            height: 300,
            minHeight: null,
            maxHeight: null,
            focus: true,
            popover: false,

            callbacks: {
                onImageUpload: function (files, editor, welEditable) {
                    for (var i = 0; i < files.length; i++) {
                        sendFile(files[i], this);
                    }
                }
            }
        });
    });

    function sendFile(file, el) {
        var form_data = new FormData();
        form_data.append('file', file);
        $.ajax({
            data: form_data,
            type: "POST",
            url: '/image',
            cache: false,
            contentType: false,
            enctype: 'multipart/form-data',
            processData: false,
            success: function (url) {
                $(el).summernote('insertImage', url, function ($image) {
                    $image.css('width', "50%");
                });
            }
        });
    }
</script>
<style>
    img {
        width: 300px;
        height: 170px;
    }
</style>
<script> function setThumbnail(event) {
    var reader = new FileReader();
    reader.onload = function (event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);
        document.querySelector("div#image_container").appendChild(img);
    };
    reader.readAsDataURL(event.target.files[0]);
} </script>

<!-- .site-wrap -->


<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<script th:src="@{/js/jquery.stellar.min.js}"></script>
<script th:src="@{/js/jquery.countdown.min.js}"></script>
<script th:src="@{/js/bootstrap-datepicker.min.js}"></script>
<script th:src="@{/js/jquery.easing.1.3.js}"></script>
<script th:src="@{/js/aos.js}"></script>
<script th:src="@{/js/jquery.fancybox.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/jquery.mb.YTPlayer.min.js}"></script>
<script th:src="@{/js/main.js}"></script>




</body>
</html>